<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title - HRGA UPLOADER</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


    <link href="~/Content/Kendo/kendo.common.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Kendo/kendo.blueopal.min.css" rel="stylesheet" type="text/css" />


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/ExportKendo")



    <script type="text/javascript" src="../Scripts/Kendo/kendo.all.min.js"></script>

</head>
<body>
    @*<div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("HRGA UPLOADER", "Index", "RosterUploader", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Roster", "Index", "RosterUploader")</li>
                    <li>@Html.ActionLink("Revisi Absen", "Index", "RevisiAbsen")</li>
                </ul>
         
            </div>
        </div>
    </div>*@
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - KALIMANTAN PRIMA PERSADA</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
